---
 const personalImageAlt = "Fabián España"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Soy estudiante de <strong>Ciberseguridad</strong> con una sólida base en el <strong>desarrollo de software</strong>, 
    que me permite unir dos mundos clave: <strong>la creación de soluciones tecnológicas</strong> y 
    <strong>la protección de entornos digitales</strong>. Mi pasión por la tecnología y 
    <strong>la seguridad informática</strong> me impulsa a buscar constantemente nuevos desafíos y 
    oportunidades para <strong>aprender y crecer profesionalmente</strong>.
</p>

<p>
    Mi objetivo es <strong>continuar desarrollándome</strong> en el apasionante campo de la ciberseguridad, 
    contribuyendo a <strong>la creación de entornos digitales más seguros</strong> mediante el uso de mis 
    conocimientos en <strong>desarrollo de software</strong> y <strong>el desarrollo seguro</strong>. 
    Estoy comprometido con <strong>el aprendizaje continuo</strong> y con marcar una diferencia en el mundo digital.
</p>


  </div>
  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">


</article>



